@font-face {
    font-family: 'FuturaLight';
    src: url('fonts/FuturaLight.eot');
    src: url('fonts/FuturaLight.eot') format('embedded-opentype'),
         url('fonts/FuturaLight.woff2') format('woff2'),
         url('fonts/FuturaLight.woff') format('woff'),
         url('fonts/FuturaLight.ttf') format('truetype'),
         url('fonts/FuturaLight.svg#FuturaLight') format('svg');
}
